<div class="container">
  <div class="row">
    <div class="col"></div>

    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal text-center">Авторизация</h4>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'you@example.com' %>
            </div>

            <div class="field">
              <%= f.label :password, 'Пароль' %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %><br />
            </div>

            <div class="actions">
              <%= f.submit "Войти", class: "w-100 btn btn-lg btn-outline-primary" %><br />
            </div>
          <% end %>
          <br />
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

