<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
  </head>
  <body>
    <h3>У вас новый заказ id: <%= @order.id %></h3>
    <p>
    Детали заказа<br>
    --------------------------
    </p>
    <p><b>ФИО:</b> <%= @order.user.full_name %></p>
    <p><b>Email:</b> <%= @order.user.email %></p>
    <p><b>Контактный телефон:</b> <%= @order.user.phone %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Продукт</th>
          <th>Кол-во</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.includes(:product).each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td><%= item.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>Сумма заказа: <%= @order.subtotal %></p>
    <% if @order.comment %>
      <p>Сообщение от заказчика: <%= @order.comment %></p>
    <% end %>
  </body>
</html>
