<!DOCTYPE html>
<html>
  <head>
    <title>KarpovaProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <header class="mb-5">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <%= render 'cards/card' %>
            <%= link_to 'Изделия', products_path, class: 'me-3 py-2 text-white text-decoration-none' %>
            <% if current_user && current_user.admin? %>
              <%= link_to 'Управление', admin_root_path, class: 'me-3 py-2 text-white text-decoration-none' %>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'py-2 text-warning text-decoration-none' %>
            <% else %>
              <%= link_to 'Войти', new_user_session_path, class: 'py-2 text-warning text-decoration-none' %>
            <% end %>
          </nav>
        </div>
      </nav>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
